# Average Car Traffic
## Average Daily Traffic (count of cars).

In [55]:
import pandas as pd
import numpy as np
df=pd.read_csv("TrafficCount.csv",usecols=['average_daily_car_traffic','neighborhood'])
df2=df.sort_values(by='average_daily_car_traffic',inplace=True,ascending=False)
df.head(10)

     average_daily_car_traffic         neighborhood
39                     16729.0        Regent Square
111                    16711.0       Strip District
199                    15000.0           Bloomfield
93                     13788.0           East Hills
37                     12335.0         Point Breeze
14                     11500.0      Crafton Heights
18                     10350.0          North Shore
302                    10113.0            Shadyside
286                    10001.0  Squirrel Hill North
21                      9709.0            Brookline

# Percent Over Limit
## Percentage of vehicles that were speeding.

In [49]:
import pandas as pd
import numpy as np
df=pd.read_csv("TrafficCount.csv",usecols=['percent_over_limit','neighborhood'])
df2=df.sort_values(by='percent_over_limit',inplace=True,ascending=False)
df.head(10)

     percent_over_limit         neighborhood
93                 98.0           East Hills
70                 98.0           Manchester
14                 98.0      Crafton Heights
370                97.0  Squirrel Hill South
311                97.0           Manchester
240                97.0  Squirrel Hill South
129                97.0          Perry North
142                97.0              Elliott
162                97.0         Point Breeze
41                 97.0         East Liberty